<mat-sidenav-container class="w-full h-full absolute inset-0">
  <mat-sidenav
    [fixedInViewport]="true"
    [fixedTopGap]="0"
    [fixedBottomGap]="0"
    class="bg-secondary lg:w-64 w-20"
    mode="side"
    opened
  >
    <mat-toolbar class="flex justify-center items-center">
      <div>
        <li class="flex items-center">
          <svg
            fill="#2248dd"
            version="1.1"
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="50px"
            height="50px"
            viewBox="0 0 544.316 544.316"
            xml:space="preserve"
            stroke="#2248dd"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g>
                <g>
                  <path
                    d="M272.164,340.276L89.452,274.884l0.625,119.831c0,0,85.447,43.077,182.087,43.077 c100.907,0,182.718-50.808,182.718-50.808l-0.76-112.006L272.164,340.276z"
                  ></path>
                  <polygon
                    points="510.149,229.122 544.316,216.616 272.164,106.524 0,216.616 272.164,316.279 489.527,236.677 489.527,352.607 475.795,352.607 475.795,408.354 521.312,408.354 521.312,352.607 510.149,352.607 "
                  ></polygon>
                </g>
              </g>
            </g>
          </svg>
          <a href="#" class="font-bold text-white text-sm mt-4 hidden lg:block"
            >EdQuizzy</a
          >
        </li>
      </div>
    </mat-toolbar>
    <mat-nav-list class="font-bold text-white">
      <a
        mat-list-item
        href="#"
        class="p-2 my-2 hover:bg-white hover:text-primary hover:rounded-lg"
        >Dashboard</a
      >
      <a
        mat-list-item
        href="/courses"
        class="p-2 hover:bg-white hover:text-primary hover:rounded-lg"
        >Courses</a
      >
      <a
        mat-list-item
        href="/quizes"
        class="p-2 hover:bg-white hover:text-primary hover:rounded-lg"
        >Quizez</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <ng-content></ng-content>
</mat-sidenav-container>
