<section class="p-4 sm:px-12 sm:mx-12">
  <div *ngIf="loading" class="bg-white">Loading...</div>
  <mat-progress-bar *ngIf="loading" mode="determinate"></mat-progress-bar>
  <div class="md:grid grid-cols-1 gap-5">
    <mat-expansion-panel
      togglePosition="after"
      *ngFor="let level of levels; let i = index"
      (click)="handleShow(i)"
      class="my-2 md:my-0 bg-white shadow-md"
    >
      <mat-expansion-panel-header
        class="bg-white flex justify-between items-center"
      >
        <div class="flex gap-4 items-center">
          <img
            src="../../assets/Document-Sign-1--Streamline-Free-Illustrations.svg.png"
            alt="Document-Sign-1--Streamline-Free-Illustrations"
            class="object-cover w-16 h-16"
          />
          <h1 class="text-xl sm:text-2xl font-medium">
            {{ level?.level }} level
          </h1>
        </div>
      </mat-expansion-panel-header>
      <div>
        <mat-progress-bar
          *ngIf="loading"
          mode="indeterminate"
        ></mat-progress-bar>
        <div class="flex justify-end">
          <div
            *ngIf="!loading && show?.show && show?.index === i"
            class="w-full sm:w-1/2 h-72 bg-white overflow-auto rounded-lg"
          >
            <div class="grid grid-cols-1">
              <ul
                *ngFor="let course of courses"
                class="bg-white border-b p-4 hover:bg-gray-200"
              >
                <a
                  routerLink="/courses/{{ course._id }}"
                  class="flex gap-4 items-center"
                >
                  <h1 class="text-base font-medium">{{ course?.code }}</h1>
                  <h1 class="text-base font-medium">{{ course?.title }}</h1>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</section>
