<div>
  <ul
    class="flex justify-between items-center px-6 m-auto sm:w-[70%] my-4 shadow-md py-2 bg-white rounded-full"
  >
    <div>
      <li class="flex items-center">
        <svg
          fill="#2248dd"
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="50px"
          height="50px"
          viewBox="0 0 544.316 544.316"
          xml:space="preserve"
          stroke="#2248dd"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <g>
              <g>
                <path
                  d="M272.164,340.276L89.452,274.884l0.625,119.831c0,0,85.447,43.077,182.087,43.077 c100.907,0,182.718-50.808,182.718-50.808l-0.76-112.006L272.164,340.276z"
                ></path>
                <polygon
                  points="510.149,229.122 544.316,216.616 272.164,106.524 0,216.616 272.164,316.279 489.527,236.677 489.527,352.607 475.795,352.607 475.795,408.354 521.312,408.354 521.312,352.607 510.149,352.607 "
                ></polygon>
              </g>
            </g>
          </g>
        </svg>
        <a href="#" class="font-bold text-sm mt-4">EdQuizzy</a>
      </li>
    </div>
    <div class="hidden md:flex gap-6 items-center justify-center">
      <li
        class="text-primary font-bold hover:border-b-2 hover:border-primary pb-2"
      >
        <a href="/">Home</a>
      </li>
      <li
        class="text-primary font-bold hover:border-b-2 hover:border-primary pb-2"
      >
        <a href="#">About</a>
      </li>
      <li
        class="text-primary font-bold hover:border-b-2 hover:border-primary pb-2"
      >
        <a href="/courses">Courses</a>
      </li>
    </div>
    <button
      class="hidden md:block bg-secondary px-6 py-2 font-bold shadow-sm text-white rounded-full text-center"
    >
      <a href="/auth/signin"> Get Started</a>
    </button>
    <div class="md:hidden mr-4">
      <svg
        width="30px"
        height="30px"
        viewBox="0 0 24 24"
        fill="#3B63F4"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M20 7L4 7"
            stroke="#3B63F4"
            stroke-width="1.5"
            stroke-linecap="round"
          ></path>
          <path
            d="M20 12L4 12"
            stroke="#3B63F4"
            stroke-width="1.5"
            stroke-linecap="round"
          ></path>
          <path
            d="M20 17L4 17"
            stroke="#3B63F4"
            stroke-width="1.5"
            stroke-linecap="round"
          ></path>
        </g>
      </svg>
    </div>
  </ul>
</div>
