<section class="p-4 px-12">
  <!-- <h1 class="text-center py-4 text-2xl font-semibold">
    Choose the <span class="text-primary">courses</span> available for your
    level
  </h1> -->
  <div class="md:grid grid-cols-2 gap-5">
    <div
      class="bg-primary my-2 md:my-0 flex items-center justify-center gap-10 shadow-md"
    >
      <div>
        <img
          src="../../assets/Document-Sign-1--Streamline-Free-Illustrations.svg.png"
          alt="Document-Sign-1--Streamline-Free-Illustrations"
          class="object-cover"
        />
      </div>
      <div>
        <h1 class="text-2xl pb-6 font-medium">100 level</h1>
        <div class="flex gap-4 items-center">
          <p>Choose course quiz</p>
          <svg
            fill="#000000"
            height="20px"
            width="20px"
            version="1.1"
            id="XMLID_287_"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 24 24"
            xml:space="preserve"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g id="next">
                <g>
                  <polygon
                    points="6.8,23.7 5.4,22.3 15.7,12 5.4,1.7 6.8,0.3 18.5,12 "
                  ></polygon>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
    <div class="bg-primary flex items-center justify-center gap-10 shadow-md">
      <div>
        <img
          src="../../assets/Contact-Book--Streamline-Free-Illustrations.svg.png"
          alt="Contact-Book--Streamline-Free-Illustrations"
          class="object-cover"
        />
      </div>
      <div>
        <h1 class="text-2xl pb-6 font-medium">200 level</h1>
        <div class="flex gap-4 items-center">
          <p>Choose course quiz</p>
          <svg
            fill="#000000"
            height="20px"
            width="20px"
            version="1.1"
            id="XMLID_287_"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 24 24"
            xml:space="preserve"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g id="next">
                <g>
                  <polygon
                    points="6.8,23.7 5.4,22.3 15.7,12 5.4,1.7 6.8,0.3 18.5,12 "
                  ></polygon>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
    <div
      class="bg-primary my-2 md:my-0 flex items-center justify-center gap-10 shadow-md"
    >
      <div>
        <img
          src="../../assets/Emoji-Discuss)--Streamline-Free-Illustrations.svg.png"
          alt="Emoji-Discuss"
          class="object-cover"
        />
      </div>
      <div>
        <h1 class="text-2xl pb-6 font-medium">300 level</h1>
        <div class="flex gap-4 items-center">
          <p>Choose course quiz</p>
          <svg
            fill="#000000"
            height="20px"
            width="20px"
            version="1.1"
            id="XMLID_287_"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 24 24"
            xml:space="preserve"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g id="next">
                <g>
                  <polygon
                    points="6.8,23.7 5.4,22.3 15.7,12 5.4,1.7 6.8,0.3 18.5,12 "
                  ></polygon>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
    <div
      class="bg-primary my-2 md:my-0 flex items-center justify-center gap-10 shadow-md"
    >
      <div>
        <img
          src="../../assets/Searching-Network--Streamline-Free-Illustrations.png"
          alt="Searching-Network--Streamline-Free-Illustrations"
          class="object-cover"
        />
      </div>
      <div>
        <h1 class="text-2xl pb-6 font-medium">400 level</h1>
        <div class="flex gap-4 items-center">
          <p>Choose course quiz</p>
          <svg
            fill="#000000"
            height="20px"
            width="20px"
            version="1.1"
            id="XMLID_287_"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 24 24"
            xml:space="preserve"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g id="next">
                <g>
                  <polygon
                    points="6.8,23.7 5.4,22.3 15.7,12 5.4,1.7 6.8,0.3 18.5,12 "
                  ></polygon>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
